[submodule "library/--force"]
	path = library/--force
	url = https://github.com/PrugClem/cppsock.git
[submodule "library/cppsock"]
	path = library/cppsock
	url = https://github.com/PrugClem/cppsock.git
[submodule "library/glm"]
	path = library/glm
	url = https://github.com/g-truc/glm.git
[submodule "library/stb"]
	path = library/stb
	url = https://github.com/nothings/stb.git
